{% include "event/navbar.html" %}
{% include "event/msg_alert.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section" style="margin-left: 1rem;">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create a new Event</legend>
                {{ form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Create</button>
            </div>
        </form>
    </div>
{% endblock %}

<script>
        // This way you can make the user select only dates after the current date
    const datetimeInput = document.querySelector('input[type="datetime-local"]');
    if (datetimeInput) {
      datetimeInput.min = new Date().toISOString().slice(0, 16);
    }
</script>